@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");

/* font */
$base-font: "Hind Siliguri", sans-serif;

/* color */
$background-color: #3c6382;
$blue: #1e3799;
$red: #eb2f06;
$white: #f1f2f6;
